
.manage-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.subjects{
    width: 70rem;
}

.subjects__header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(111, 83, 83);
    height: 3rem;
    padding-bottom: 1rem;
    border-radius: 0.8rem;
}

.subjects__header-text-1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
}

.subjects__subject-details{
    display: flex;
    flex-direction: row;
    background-color: rgb(87, 60, 60);
    color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.8rem;
    height: 3rem;
    align-items: center;
}

.subjects-with-credit-calculation{
    display: flex;
}

.credit-box__max-credits-details{
    display: flex;
    justify-content: space-between;
}

.credit-box__total-credits-details{
    display: flex;
    justify-content: space-around;
}

.credit-box__max-credits-details{
    display: flex;
    justify-content: space-around;
}

.credit-box__min-credits-details{
    display: flex;
    justify-content: space-around;
}

.credit-box__remaining-credits-details{
    display: flex;
    justify-content: space-around;
}

.credit-box__total-credits-name{
    width: 40%; 
    margin-right: 0;
}

.credit-box__max-credits-name{
    width: 40%; 
    margin-right: 0;
}

.credit-box__min-credits-name{
    width: 40%; 
    margin-right: 0;
}

.credit-box__remaining-credits-name{
    width: 40%; 
    margin-right: 0;
}

.credit-box{
    border: solid black;
    border-radius: 0.6rem;
    margin-left: 4rem;
    margin-top: 5rem;
    width: 25%;
}

.subjects__column-headings{
    display: flex;
    border: solid black;
    border-radius: 0.8rem;
    margin-top: 2rem;
    height: 4rem;
    align-items: center;
    background-color: rgb(87, 60, 60);
    color: white;
}

.subjects__course-drop-button{
    border: solid black;
    cursor: pointer;
    margin-right: 1rem;
    width: 20%;
    border-radius: 0.5rem;
    height: 1.5rem;
}

.subjects__course-drop-button:hover{
    background: black;
    color: white;
}

.credit-box{
    display: flex;
    flex-direction: column;
}

.subjects__subject-name-column{
    width: 20%;
    margin-left: 1rem;;
}

.subjects__subject-branch-column{
    width: 40%;
}

.subjects__subject-credits-column{
    width: 20%
}

.subjects__action-column{
    margin-right: 1rem;;
    width: 20%;
}

.subjects__subject-name{
    width: 20%;
    margin-left: 1rem;;
}

.subjects__subject-branch{
    width: 40%;
}

.subjects__credits{
    width: 20%
}

.registered-subject{
    height: 2rem;
}

.credit-box__credit-details-heading{
    display: flex;
    justify-content: center;
}