.dtu-logo{
    padding-left: 35%;
}
.add-subject-header{
    padding-left: 43%;
    color: brown;
}
.add-subject-form{
    /* width: 60%; */
    /* display: flex;
    justify-content: center; */
    padding-left: 20%;
    padding-right: 20%;
}
/* .addSubjectButton{
    padding-bottom: 1rem;
} */